<launch>
    <arg name="config_path" default = "$(find line_feature_tracker)/../config/euroc/euroc_config.yaml" />
	<arg name="vins_path" default = "$(find line_feature_tracker)/../config/../" />

    <node name="line_feature_tracker" pkg="line_feature_tracker" type="line_feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

</launch>
